<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, Mike</span>
                     <span class="user-block-role">Designer</span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
         </li>
         <li class="<%= 'active' if controller?('dashboard')%>">
            <a href="#dashboard" title="Dashboard" data-toggle="collapse">
               <div class="badge badge-info float-right">3</div>
               <em class="icon-speedometer"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            </a>
            <ul id="dashboard" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('dashboard') %>">
               <li class="sidebar-subnav-header">Dashboard</li>
               <li class="<%= 'active' if controller?('dashboard') && action?('dashboard_v1') %>">
                  <a href="/dashboard/dashboard_v1" title="Dashboard v1">
                     <span>Dashboard v1</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('dashboard') && action?('dashboard_v2') %>">
                  <a href="/dashboard/dashboard_v2" title="Dashboard v2">
                     <span>Dashboard v2</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('dashboard') && action?('dashboard_v3') %>">
                  <a href="/dashboard/dashboard_v3" title="Dashboard v3">
                     <span>Dashboard v3</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('widgets') && action?('index') %>">
            <a href="/widgets" title="Widgets">
               <div class="badge badge-success float-right">30</div>
               <em class="icon-grid"></em>
               <span data-localize="sidebar.nav.WIDGETS">Widgets</span>
            </a>
         </li>
         <!-- Layouts -->
         <li>
            <a href="#layout" title="Layouts" data-toggle="collapse">
               <em class="icon-layers"></em>
               <span>Layouts</span>
            </a>
            <ul id="layout" class="sidebar-nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Layouts</li>
               <li>
                  <a href="/dashboard/dashboard_h" title="Dashboard Horizontal">
                     <span>Horizontal</span>
                  </a>
               </li>
            </ul>
         </li>
         <!-- /Layouts -->
         <li class="nav-heading">
            <span>Components</span>
         </li>
         <li class="<%= 'active' if controller?('elements') %>">
            <a href="#elements" title="Elements" data-toggle="collapse">
               <em class="icon-chemistry"></em>
               <span data-localize="sidebar.nav.element.ELEMENTS">Elements</span>
            </a>
            <ul id="elements" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('elements') %>">
               <li class="sidebar-subnav-header">Elements</li>
               <li class="<%= 'active' if controller?('elements') && action?('button') %>">
                  <a href="/elements/button" title="Buttons">
                     <span data-localize="sidebar.nav.element.BUTTON">Buttons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('notification') %>">
                  <a href="/elements/notification" title="Notifications">
                     <span data-localize="sidebar.nav.element.NOTIFICATION">Notifications</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('sweetalert') %>">
                  <a href="/elements/sweetalert" title="Sweet Alert">
                     <span>Sweet Alert</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('carousel') %>">
                  <a href="/elements/carousel" title="Carousel">
                     <span data-localize="sidebar.nav.element.INTERACTION">Carousel</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('spinner') %>">
                  <a href="/elements/spinner" title="Spinners">
                     <span data-localize="sidebar.nav.element.SPINNER">Spinners</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('dropdown') %>">
                  <a href="/elements/dropdown" title="Dropdown">
                     <span data-localize="sidebar.nav.element.DROPDOWN">Dropdown</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('nestable') %>">
                  <a href="/elements/nestable" title="Nestable">
                     <span>Nestable</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('sortable') %>">
                  <a href="/elements/sortable" title="Sortable">
                     <span>Sortable</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('card') %>">
                  <a href="/elements/card" title="Cards">
                     <span data-localize="sidebar.nav.element.CARDS">Cards</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('portlet') %>">
                  <a href="/elements/portlet" title="Portlets">
                     <span data-localize="sidebar.nav.element.PORTLET">Portlets</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('grid') %>">
                  <a href="/elements/grid" title="Grid">
                     <span data-localize="sidebar.nav.element.GRID">Grid</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('gridmasonry') %>">
                  <a href="/elements/gridmasonry" title="Grid Masonry">
                     <span data-localize="sidebar.nav.element.GRID_MASONRY">Grid Masonry</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('typography') %>">
                  <a href="/elements/typography" title="Typography">
                     <span data-localize="sidebar.nav.element.TYPO">Typography</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('fonticons') %>">
                  <a href="/elements/fonticons" title="Font Icons">
                     <div class="badge badge-success float-right">+400</div>
                     <span data-localize="sidebar.nav.element.FONT_ICON">Font Icons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('weathericons') %>">
                  <a href="/elements/weathericons" title="Weather Icons">
                     <div class="badge badge-success float-right">+100</div>
                     <span data-localize="sidebar.nav.element.WEATHER_ICON">Weather Icons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('elements') && action?('colors') %>">
                  <a href="/elements/colors" title="Colors">
                     <span data-localize="sidebar.nav.element.COLOR">Colors</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('forms')%>">
            <a href="#forms" title="Forms" data-toggle="collapse">
               <em class="icon-note"></em>
               <span data-localize="sidebar.nav.form.FORM">Forms</span>
            </a>
            <ul id="forms" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('forms') %>">
               <li class="sidebar-subnav-header">Forms</li>
               <li class="<%= 'active' if controller?('forms') && action?('standard') %>">
                  <a href="/forms/standard" title="Standard">
                     <span data-localize="sidebar.nav.form.STANDARD">Standard</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forms') && action?('extended') %>">
                  <a href="/forms/extended" title="Extended">
                     <span data-localize="sidebar.nav.form.EXTENDED">Extended</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forms') && action?('validation') %>">
                  <a href="/forms/validation" title="Validation">
                     <span data-localize="sidebar.nav.form.VALIDATION">Validation</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forms') && action?('upload') %>">
                  <a href="/forms/upload" title="Upload">
                     <span>Upload</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forms') && action?('wizard') %>">
                  <a href="/forms/wizard" title="Wizard">
                     <span>Wizard</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forms') && action?('xeditable') %>">
                  <a href="/forms/xeditable" title="xEditable">
                     <span>xEditable</span>
                  </a>
               </li>
                <li class="<%= 'active' if controller?('forms') && action?('imgcrop') %>">
                   <a href="/forms/imgcrop" title="Cropper">
                      <span>Cropper</span>
                   </a>
                </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('charts') %>">
            <a href="#charts" title="Charts" data-toggle="collapse">
               <em class="icon-graph"></em>
               <span data-localize="sidebar.nav.chart.CHART">Charts</span>
            </a>
            <ul id="charts" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('charts') %>">
               <li class="sidebar-subnav-header">Charts</li>
               <li class="<%= 'active' if controller?('charts') && action?('flot') %>">
                  <a href="/charts/flot" title="Flot">
                     <span data-localize="sidebar.nav.chart.FLOT">Flot</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('charts') && action?('radial') %>">
                  <a href="/charts/radial" title="Radial">
                     <span data-localize="sidebar.nav.chart.RADIAL">Radial</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('charts') && action?('chartjs') %>">
                  <a href="/charts/chartjs" title="ChartJS">
                     <span>ChartJS</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('charts') && action?('morris') %>">
                  <a href="/charts/morris" title="Morris">
                     <span>Morris</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('charts') && action?('chartist') %>">
                  <a href="/charts/chartist" title="Chartist">
                     <span>Chartist</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('tables') %>">
            <a href="#tables" title="Tables" data-toggle="collapse">
               <em class="icon-grid"></em>
               <span data-localize="sidebar.nav.table.TABLE">Tables</span>
            </a>
            <ul id="tables" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('tables') %>">
               <li class="sidebar-subnav-header">Tables</li>
               <li class="<%= 'active' if controller?('tables') && action?('standard') %>">
                  <a href="/tables/standard" title="Standard">
                     <span data-localize="sidebar.nav.table.STANDARD">Standard</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('tables') && action?('extended') %>">
                  <a href="/tables/extended" title="Extended">
                     <span data-localize="sidebar.nav.table.EXTENDED">Extended</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('tables') && action?('datatable') %>">
                  <a href="/tables/datatable" title="DataTables">
                     <span data-localize="sidebar.nav.table.DATATABLE">DataTables</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('tables') && action?('bootgrid') %>">
                  <a href="/tables/bootgrid" title="bootgrid">
                     <span>BootGrid</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('maps') %>">
            <a href="#maps" title="Maps" data-toggle="collapse">
               <em class="icon-map"></em>
               <span data-localize="sidebar.nav.map.MAP">Maps</span>
            </a>
            <ul id="maps" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('maps') %>">
               <li class="sidebar-subnav-header">Maps</li>
               <li class="<%= 'active' if controller?('maps') && action?('google') %>">
                  <a href="/maps/google" title="Google Maps">
                     <span data-localize="sidebar.nav.map.GOOGLE">Google Maps</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('maps') && action?('vector') %>">
                  <a href="/maps/vector" title="Vector Maps">
                     <span data-localize="sidebar.nav.map.VECTOR">Vector Maps</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-heading">
            <span data-localize="sidebar.heading.MORE">More</span>
         </li>
         <li class="<%= 'active' if controller?('pages')%>">
            <a href="#pages" title="Pages" data-toggle="collapse">
               <em class="icon-doc"></em>
               <span data-localize="sidebar.nav.pages.PAGES">Pages</span>
            </a>
            <ul id="pages" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('pages') %>">
               <li class="sidebar-subnav-header">Pages</li>
               <li class="<%= 'active' if controller?('pages') && action?('login') %>">
                  <a href="/pages/login" title="Login">
                     <span data-localize="sidebar.nav.pages.LOGIN">Login</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('register') %>">
                  <a href="/pages/register" title="Sign up">
                     <span data-localize="sidebar.nav.pages.REGISTER">Sign up</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('recover') %>">
                  <a href="/pages/recover" title="Recover Password">
                     <span data-localize="sidebar.nav.pages.RECOVER">Recover Password</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('lock') %>">
                  <a href="/pages/lock" title="Lock">
                     <span data-localize="sidebar.nav.pages.LOCK">Lock</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('template') %>">
                  <a href="/pages/template" title="Starter Template">
                     <span data-localize="sidebar.nav.pages.STARTER">Starter Template</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('notfound') %>">
                  <a href="/pages/notfound" title="notfound">
                     <span>404</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('error500') %>">
                  <a href="/pages/error500" title="error500">
                     <span>500</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('pages') && action?('maintenance') %>">
                  <a href="/pages/maintenance" title="Maintenance">
                     <span>Maintenance</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('extras') %>">
            <a href="#extras" title="Extras" data-toggle="collapse">
               <em class="icon-cup"></em>
               <span data-localize="sidebar.nav.extra.EXTRA">Extras</span>
            </a>
            <ul id="extras" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('extras') %>">
               <li class="sidebar-subnav-header">Extras</li>
               <li class="<%= 'active' if controller?('extras') && action?('contacts') %>">
                   <a href="/extras/contacts" title="contacts">
                       <span>Contacts</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('contact_details') %>">
                   <a href="/extras/contact_details" title="contact-details">
                       <span>Contact Details</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('projects') %>">
                   <a href="/extras/projects" title="projects">
                       <span>Projects</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('project_details') %>">
                   <a href="/extras/project_details" title="project-details">
                       <span>Project Details</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('team_viewer') %>">
                   <a href="/extras/team_viewer" title="team viewer">
                       <span>Team Viewer</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('social_board') %>">
                   <a href="/extras/social_board" title="social board">
                       <span>Social Board</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('vote_links') %>">
                   <a href="/extras/vote_links" title="vote links">
                       <span>Vote Links</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('bug_tracker') %>">
                   <a href="/extras/bug_tracker" title="bug tracker">
                       <span>Bug Tracker</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('faq') %>">
                   <a href="/extras/faq" title="faq">
                       <span>Faq</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('help_center') %>">
                   <a href="/extras/help_center" title="help center">
                       <span>Help Center</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('followers') %>">
                   <a href="/extras/followers" title="followers">
                       <span>Followers</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('settings') %>">
                   <a href="/extras/settings" title="settings">
                       <span>Settings</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('plans') %>">
                   <a href="/extras/plans" title="plans">
                       <span>Plans</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('file_manager') %>">
                   <a href="/extras/file_manager" title="file manager">
                       <span>File Manager</span>
                   </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('mailbox') %>">
                  <a href="/extras/mailbox" title="Mailbox">
                     <span data-localize="sidebar.nav.extra.MAILBOX">Mailbox</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('timeline') %>">
                  <a href="/extras/timeline" title="Timeline">
                     <span data-localize="sidebar.nav.extra.TIMELINE">Timeline</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('calendar') %>">
                  <a href="/extras/calendar" title="Calendar">
                     <span data-localize="sidebar.nav.extra.CALENDAR">Calendar</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('invoice') %>">
                  <a href="/extras/invoice" title="Invoice">
                     <span data-localize="sidebar.nav.extra.INVOICE">Invoice</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('search') %>">
                  <a href="/extras/search" title="Search">
                     <span data-localize="sidebar.nav.extra.SEARCH">Search</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('todo') %>">
                  <a href="/extras/todo" title="Todo List">
                     <span data-localize="sidebar.nav.extra.TODO">Todo List</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('extras') && action?('profile') %>">
                  <a href="/extras/profile" title="Profile">
                     <span data-localize="sidebar.nav.extra.PROFILE">Profile</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('blog') %>">
            <a href="#blog" title="Blog" data-toggle="collapse">
               <em class="icon-notebook"></em>
               <span>Blog</span>
            </a>
            <ul id="blog" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('blog') %>">
               <li class="sidebar-subnav-header">Blog</li>
               <li class="<%= 'active' if controller?('blog') && action?('blog') %>">
                  <a href="/blog/blog" title="List">
                     <span>List</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('blog') && action?('blog_post') %>">
                  <a href="/blog/blog_post" title="Post">
                     <span>Post</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('blog') && action?('blog_articles') %>">
                  <a href="/blog/blog_articles" title="Articles">
                     <span>Articles</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('blog') && action?('blog_article_view') %>">
                  <a href="/blog/blog_article_view" title="Article View">
                     <span>Article View</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('ecommerce') %>">
            <a href="#ecommerce" title="eCommerce" data-toggle="collapse">
               <em class="icon-basket-loaded"></em>
               <span>eCommerce</span>
            </a>
            <ul id="ecommerce" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('ecommerce') %>">
               <li class="sidebar-subnav-header">eCommerce</li>
               <li class="<%= 'active' if controller?('ecommerce') && action?('ecommerce_orders') %>">
                  <a href="/ecommerce/ecommerce_orders" title="Orders">
                     <div class="badge badge-info float-right">10</div>
                     <span>Orders</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('ecommerce') && action?('ecommerce_order_view') %>">
                  <a href="/ecommerce/ecommerce_order_view" title="Order View">
                     <span>Order View</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('ecommerce') && action?('ecommerce_products') %>">
                  <a href="/ecommerce/ecommerce_products" title="Products">
                     <span>Products</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('ecommerce') && action?('ecommerce_product_view') %>">
                  <a href="/ecommerce/ecommerce_product_view" title="Product View">
                     <span>Product View</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('ecommerce') && action?('ecommerce_checkout') %>">
                  <a href="/ecommerce/ecommerce_checkout" title="Checkout">
                     <span>Checkout</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('forum') %>">
            <a href="#forum" title="Forum" data-toggle="collapse">
               <em class="icon-speech"></em>
               <span>Forum</span>
            </a>
            <ul id="forum" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('forum') %>">
               <li class="sidebar-subnav-header">Forum</li>
               <li class="<%= 'active' if controller?('forum') && action?('forum_categories') %>">
                  <a href="/forum/forum_categories" title="Categories">
                     <span>Categories</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forum') && action?('forum_topics') %>">
                  <a href="/forum/forum_topics" title="Topics">
                     <span>Topics</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('forum') && action?('forum_discussion') %>">
                  <a href="/forum/forum_discussion" title="Discussion">
                     <span>Discussion</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('multilevel') %>">
            <a href="#multilevel" title="Multilevel" data-toggle="collapse">
               <em class="far fa-folder-open"></em>
               <span>Multilevel</span>
            </a>
            <ul id="multilevel" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('multilevel') %>">
               <li class="sidebar-subnav-header">Multilevel</li>
               <li class="<%= 'active' if controller?('multilevel') && action?('level1') %>">
                  <a href="#level1" title="Level 1" data-toggle="collapse">
                     <span>Level 1</span>
                  </a>
                  <ul id="level1" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('multilevel') && (action?('level1')||action?('level3')) %>">
                     <li class="sidebar-subnav-header">Level 1</li>
                     <li class="<%= 'active' if controller?('multilevel') && action?('level1') %>">
                        <a href="/multilevel/level1" title="Level1 Item">
                           <span>Level1 Item</span>
                        </a>
                     </li>
                     <li class="<%= 'active' if controller?('multilevel') && action?('level3') %>">
                        <a href="#level2" title="Level 2" data-toggle="collapse">
                           <span>Level 2</span>
                        </a>
                        <ul id="level2" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('multilevel') && action?('level3') %>">
                           <li class="sidebar-subnav-header">Level 2</li>
                           <li class="<%= 'active' if controller?('multilevel') && action?('level3') %>">
                              <a href="#level3" title="Level 3" data-toggle="collapse">
                                 <span>Level 3</span>
                              </a>
                              <ul id="level3" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('multilevel') && action?('level3') %>">
                                 <li class="sidebar-subnav-header">Level 3</li>
                                 <li class="<%= 'active' if controller?('multilevel') && action?('level3') %>">
                                    <a href="/multilevel/level3" title="Level3 Item">
                                       <span>Level3 Item</span>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->